# =========================================================================
# SYSTEM CONFIGURATION (.env)
# =========================================================================
APP_ENV=development
IS_SERVER=false
SERVER_IP=192.168.0.10

# --- GITHUB / GIT-SYNC CONFIGURATION ---
GIT_USERNAME=username
GIT_TOKEN=porawnyTokenGithub

# --- POSTGRESQL DATABASE CONFIGURATION ---
DB_USER=admin
DB_PASSWORD=password
DB_NAME=sor_system
DB_PORT=5432

# Adres URL do mikrousługi AI dla żądań Triage
AI_SERVICE_URL=http://ai:8000/predict

# JWT
JWT_SECRET=naszSekretnyKod